body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.stopwatch-container {
    text-align: center;
    background-color: #1e1e1e;
    padding: 50px;
    width: auto;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.header {
    font-size: 48px;
    margin: 40px;
    color: #ffe0d2;
    padding: 20px;
    font-weight: bolder;
    background-color: #191919;
    border-radius: 15px;
}


.time-display {
    border-radius: 15px;
    font-size: 84px;
    font-family: monospace;
    font-weight: bolder;
    margin-bottom: 20px;
}
.time-display.blink {
    animation: blink 1s infinite;
}
@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}


.controls button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 15px 25px;
    margin: 15px;
    font-size: 24px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 500ms;

}
.controls button:hover{
    /* transform: scale(1.05); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.185) 0 0);
    padding-top: 15px;
    padding-bottom: 15px;
}

.start-btn {
    background-color: #4CAF50;
    color: #003e04;
}
.pause-btn {
    background-color: #FFC107;
    color: #473700;
}
.reset-btn {
    background-color: #F44336;
    color:  #3d0500;
}
.record-btn {
    background-color: #2196F3;
    color: #002443;
}
.records-container {
    margin-left: 20px;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-height: 500px;
    overflow-y: auto;
}
.clear-records-btn {
    background-color: #ffffff;
    color: #191919;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 15px 25px;
    margin: 15px;
    font-size: 24px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: 300ms;


}
.clear-records-btn:hover{
    transform: scale(1.05);
    background-image: linear-gradient(rgba(0, 0, 0, 0.185) 0 0);
    border-radius: 30px;
}

.record{
    margin: auto;
}

.record {
    align-items: center;
    font-size: 26px;
    padding: 5px 0;
    border-bottom: 1px solid #333;
}